@*@model Profile*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <form method="post">
                            <div class="border p-3 mt-4 container  align-self-center align-items-center" style="width:450px;background-color:white;border-color:orange;">

                                <div style="vertical-align:middle" class="align-items-center">


                                     <div class="mb-3">
                                         @* <i style="position:absolute;right: 0px;margin-right: 30px;margin-top: 8px;color: orange;font-size:23px" class="fa fa-credit-card icon"></i>*@
                                        <input  placeholder="Credit Card No" class="form-control" style="width:100%" name="Card"/>
                                        @*<span asp-validation-for="Address" class="text-danger"></span>*@
                                    </div>

                                     <div class="mb-3">
                                         @* <i style="position:absolute;right: 0px;margin-right: 30px;margin-top: 8px;color: orange;font-size:23px" class="fa fa-calender icon"></i>*@
                                        <input  placeholder="Exp Month" class="form-control" style="width:100%"name="Month"/>
                                        @*<span asp-validation-for="City" class="text-danger"></span>*@
                                    </div>

                                     <div class="mb-3">

                                        <label >
                                                    Exp year
                                                    <select @*asp-for="ExpYear"*@ name="Year" id="expyear"  style="padding: 0.5rem 0.7rem;">
                                                        <option>Choose year</option>
                                                        <option>2023</option>
                                                        <option>2024</option>
                                                        <option>2025</option>
                                                        <option>2026</option>
                                                        <option>2027</option>
                                                        <option>2028</option>
                                                    </select>
                                                </label>
                                    </div>

                                    <button type="submit" class="btn" style="width : 100%; background-color:orange;color:white" >Add</button>

                                   

                                </div>

      
        
                            </div>

                        </form>


