 <link rel="stylesheet" href="~/scss/Dummy.css">


 


<div class="d-flex">
    <div>
            <button type="button" uncheckable class="btn  btn-xl" ng-click="selected(0)">1</button>
            <p style="font-size:5px">Shopping Cart</p>
    </div>
    
        <hr class="horizontal"/>
    <div>

         <button type="button" uncheckable class="btn  btn-xl" ng-click="selected(0)">1</button>
         <p style="font-size:5px">Shopping Cart</p>
    </div>
    <hr class="horizontal"/>
     <div>
          <button type="button" uncheckable class="btn  btn-xl" ng-click="selected(0)">1</button>
          <p style="font-size:5px">Shopping Cart</p>
    </div>
</div>
