 <link rel="stylesheet" href="~/scss/Dummy.css">
 <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
 @inject IHttpContextAccessor _httpContextAccessor;
 @model List<Profile>
@*<link rel="stylesheet" href="~/scss/Payment.css">*@
@{
    int total = ViewBag.total*100;
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>



@{
    var list = Model.FirstOrDefault();
    //string phone = list.Phone;
    //string email = list.Email;
    //string address = "";
    List<string> addresses = new List<string>();
    foreach(var obj in Model)
    {
        string add = (obj.Address + ", " + obj.City + ", " + obj.State + ", " + obj.Zipcode);
        if (!addresses.Contains(add))
        {
            string address = obj.Address + ", " + obj.City + ", " + obj.State + ", " + obj.Zipcode;
            addresses.Add(address);
        }
    }

    List<string> cards = new List<string>();
    foreach(var obj in Model)
    {
        string c = (obj.CreditCard + ", " + obj.ExpMonth + ", " + obj.ExpYear);
        if (!cards.Contains(c))
        {
            string card = (obj.CreditCard + ", " + obj.ExpMonth + ", " + obj.ExpYear);
            cards.Add(card);
        }
    }
}

<div id="sectionHome">


 <div class="split1 left">

     <div class="address">
         <p style="font-size:20px;color:#535665;font-weight: 600;">Saved Addresses</p>
         <div class="saved_address">
               @foreach(var i in addresses)
                {
                      @*<p class="btn-use-address" >@i</p>;*@
                      <p style="font-size:10px;color:#535665; cursor:pointer;" data="addresss-@i" class="btn-use-address">
                           @i
                      </p>

                }
              @*  @for(int i=0;i<Model.Count();i++)
            {
               <span data="addresss-@i" class="btn-use-address">
                           @Model[i].Address
                      </span>
            }*@
        </div>
     </div>


     @*<div class="card">
         <p style="font-size:20px;color:#535665;font-weight: 600;">Cards</p>
         <div class="saved_cards">
              @foreach(var i in cards)
              {
                        <p data="cards-@i" class="btn-use-card" style="font-size:10px;color:#535665; cursor:pointer;">
                           @i
                      </p>
              }
         </div>
     </div>*@
            
 </div>

 <div class="split2 right">


        <link rel="stylesheet" href="~/scss/Payment.css">

                @*<form method="post" asp-action="PlaceOrder">*@
                    @using(Html.BeginForm("PlaceOrder","FoodSite"))
                    {
                <div class="container" style="background-color:white !important">
                    <div class="box" style="border-radius:25px !important;margin-top:20px !important;background-color:white !important">
                        <div class="left1">
                            <h3 style="color:#535665;font-weight: 600;">BILLING ADDRESS</h3>
                            
                                <div class="form1">
                                    <input class="d-none" value="" type="text" id="stripeToken" name="stripeToken"/>
                                    <input class="d-none" value="" type="text" id="stripeEmail" name="stripeEmail"/>
                                    <input class="d-none" value="payment"  type="text" id="mail" name="mail"/>
                                    Full name
                                <input required type="text" @*asp-for="UserName"*@ placeholder="Enter name*" id="Name" name="Name"/>
                                Phone No
                                <input class="phone" required type="text"  @*asp-for="PhoneNo"*@ placeholder="Enter Phone No*" id="PhoneNo" name="PhoneNo" />
                                Address
                                <input required class="add" type="text" @*asp-for="Address"*@ placeholder="Enter Address*" id="add" name="add"/>
                                @*<span asp-validation-for="Address" class="text-danger"></span>*@
                                <div class="d-flex">

                                <label value="City"/>
                                <input class="city" required type="text"  @*asp-for="City"*@ placeholder="City*" id="city" name="city"/>
                                </div>
                                <div id="states">
                                    <label>
                                        State
                                        <select class="state"  id="state" name="state">
                                            <option value="AN">Andaman and Nicobar Islands</option>
                                            <option value="AP">Andhra Pradesh</option>
                                            <option value="AR">Arunachal Pradesh</option>
                                            <option value="AS">Assam</option>
                                            <option value="BR">Bihar</option>
                                            <option value="CH">Chandigarh</option>
                                            <option value="CT">Chhattisgarh</option>
                                            <option value="DN">Dadra and Nagar Haveli</option>
                                            <option value="DD">Daman and Diu</option>
                                            <option value="DL">Delhi</option>
                                            <option value="GA">Goa</option>
                                            <option value="GJ">Gujarat</option>
                                            <option value="HR">Haryana</option>
                                            <option value="HP">Himachal Pradesh</option>
                                            <option value="JK">Jammu and Kashmir</option>
                                            <option value="JH">Jharkhand</option>
                                            <option value="KA">Karnataka</option>
                                            <option value="KL">Kerala</option>
                                            <option value="LA">Ladakh</option>
                                            <option value="LD">Lakshadweep</option>
                                            <option value="MP">Madhya Pradesh</option>
                                            <option value="MH">Maharashtra</option>
                                            <option value="MN">Manipur</option>
                                            <option value="ML">Meghalaya</option>
                                            <option value="MZ">Mizoram</option>
                                            <option value="NL">Nagaland</option>
                                            <option value="OR">Odisha</option>
                                            <option value="PY">Puducherry</option>
                                            <option value="PB">Punjab</option>
                                            <option value="RJ">Rajasthan</option>
                                            <option value="SK">Sikkim</option>
                                            <option value="TN">Tamil Nadu</option>
                                            <option value="TG">Telangana</option>
                                            <option value="TR">Tripura</option>
                                            <option value="UP">Uttar Pradesh</option>
                                            <option value="UT">Uttarakhand</option>
                                            <option value="WB">West Bengal</option>
                                        </select>
                                    </label>

                                </div>
                               @* <label>
                                    Zipcode
                                    <input required type="number"  @*asp-for="Zipcode" placeholder="Enter Zipcode" />
                                </label>*@
@*
                                 Zipcode*@
                                <input class="zip" required type="text" @*asp-for="Address"*@ name="zip" placeholder="Enter Zipcode*" id="zip"/>
           
                                </div>

                        </div>
                        <div class="right1">
                            <h3 style="color:#535665;font-weight: 600;">PAYMENT</h3>
                            
                                <div class="form1">
                                    <div class="mb-2">
                               
            <label  style="font-weight:bold; font-size:15px;">Amount INR: <span class="text-success">₹@ViewBag.Total</span></label>
            
      
        </div>
                                <label> Cash on Delivery: </label> <input required id="check" type="radio" name="radiob" value="cod"/>
                                ‎ ‎ ‎ 
                                <label> UPI: </label> <input id="Upi" required type="radio" name="radiob" value="Upi"/>
                                ‎ ‎ ‎ 
                                <label> Card:  </label> <input required class="paywithcard" id="cod" type="radio" name="radiob" value="cardd"/>
                                <br/>
                    
                                <div class="cod sselect">
                                </div>

                                <div class="cardd sselect " style="margin-top:10px">
                                    Accepted Cards
                                           @* <div class="images" style="margin-bottom:10px;margin-top:0;top:0">*@
                                               @* <div>
                                                    <img src="https://th.bing.com/th/id/R.667d4af4cdfd88547b9a6cbae6bcae40?rik=I6rG21QJ7ZkkbQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-F-LmQgPZBGI%2fT3bd3hdr1uI%2fAAAAAAAAGb0%2f5SLx-LcwI0A%2fs1600%2frupay%2blogo%27.jpg&ehk=WsoKMV6ZZSKlhghT%2fAFxeLOdvmXakD%2bqjgTmfpyABmw%3d&risl=&pid=ImgRaw&r=0" style="height:30px; min-width:60px;" />

                                                </div>
                                                <div>
                                                    <img src="https://tse2.mm.bing.net/th/id/OIP.lQ866KEouNrd7YujZhGIUAAAAA?pid=ImgDet&w=445&h=100&rs=1" style="height:30px; min-width:60px"/>

                                                </div>*@

                                                  <div class="footer_icons">
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/2x/mastercard.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/512/rupay.png" style="height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/2x/visa.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          @*<div><a href="#"><img src="https://img.icons8.com/color/2x/phone-pe.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>*@
                          
                                                                     </div>

                                            @*</div>*@
                                            <br/>
                                            <br/>
                                    <a class="btn btn-primary mt-2 text-center " id="button1">Pay With Card</a>
                                    
       @* <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>
    <button type="submit" class="yourCustomClass">Pay with Card</button>*@
                                </div >
                                <div class="cardd sselect d-none" style="margin-top:10px">

                                            Accepted Cards
                                           @* <div class="images" style="margin-bottom:10px;margin-top:0;top:0">*@
                                               @* <div>
                                                    <img src="https://th.bing.com/th/id/R.667d4af4cdfd88547b9a6cbae6bcae40?rik=I6rG21QJ7ZkkbQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-F-LmQgPZBGI%2fT3bd3hdr1uI%2fAAAAAAAAGb0%2f5SLx-LcwI0A%2fs1600%2frupay%2blogo%27.jpg&ehk=WsoKMV6ZZSKlhghT%2fAFxeLOdvmXakD%2bqjgTmfpyABmw%3d&risl=&pid=ImgRaw&r=0" style="height:30px; min-width:60px;" />

                                                </div>
                                                <div>
                                                    <img src="https://tse2.mm.bing.net/th/id/OIP.lQ866KEouNrd7YujZhGIUAAAAA?pid=ImgDet&w=445&h=100&rs=1" style="height:30px; min-width:60px"/>

                                                </div>*@

                                                  <div class="footer_icons">
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/2x/mastercard.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/512/rupay.png" style="height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/2x/visa.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          @*<div><a href="#"><img src="https://img.icons8.com/color/2x/phone-pe.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>*@
                          
                                                                     </div>

                                            @*</div>*@
                                            <br/>
                                            <br/>

                                           
                                            Credit card number
                                            <input type="text" name="card" id="card" placeholder="Enter Credit Card*"/>
                                          
                                            <div id="states">
                                                <label>
                                                    Exp Month
                                                    <select name="expmonth" id="expmonth">
                                                        <option>Janurary</option>
                                                        <option>February</option>
                                                        <option>March</option>
                                                        <option>April</option>
                                                        <option>May</option>
                                                        <option>June</option>
                                                        <option>July</option>
                                                        <option>August</option>
                                                        <option>September</option>
                                                        <option>October</option>
                                                        <option>November</option>
                                                        <option>December</option>

                                                    </select>
                                                </label>
                                            </div>

                                            <div id="states">
                                                <label>
                                                    Exp year
                                                    <select  name="expyear" id="expyear">
                                                        <option>Choose year</option>
                                                        <option>2023</option>
                                                        <option>2024</option>
                                                        <option>2025</option>
                                                        <option>2026</option>
                                                        <option>2027</option>
                                                        <option>2028</option>
                                                    </select>
                                                </label>

                                            <label>
                                                CVV*
                                                <input type="number" name="cvv" id="cvv" placeholder="Enter CVV*" value="0"  />
                                            </label>
                                            </div>

                                </div>
                                 <div class="Upi sselect" style="margin-top:10px">

                                                            UPI Payment methods
                                                           @* <div class="images" style="margin-bottom:10px;margin-top:0;top:0">*@
                                                              @*  <div>
                                                                    <img src="https://th.bing.com/th/id/R.667d4af4cdfd88547b9a6cbae6bcae40?rik=I6rG21QJ7ZkkbQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-F-LmQgPZBGI%2fT3bd3hdr1uI%2fAAAAAAAAGb0%2f5SLx-LcwI0A%2fs1600%2frupay%2blogo%27.jpg&ehk=WsoKMV6ZZSKlhghT%2fAFxeLOdvmXakD%2bqjgTmfpyABmw%3d&risl=&pid=ImgRaw&r=0" style="height:30px; min-width:60px;" />

                                                                </div>
                                                                <div>
                                                                    <img src="https://1.bp.blogspot.com/-cNqQSrNS9Jg/XlAzE4H0-DI/AAAAAAABIDY/un2uHSnHOJESAX-RaEVCK3Dy7WFs69UywCLcBGAsYHQ/w1200-h630-p-k-no-nu/images%2B%252813%2529.jpeg" style="height:30px; min-width:60px"/>

                                                                </div>*@

                                                                  <div class="footer_icons">
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/512/paytm.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/2x/google-pay-india.png" style="height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/windows/2x/amazon-pay.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                                                                                          <div><a href="#"><img src="https://img.icons8.com/color/2x/phone-pe.png" style=" height:40px; min-width:40px;position:absolute;"/></a></div>
                          
                                                                     </div>
                                                            @*</div>*@
                                                            <br/>
                                                            <br/>
                                               
                                                            <label>
                                                                Enter Your UPI ID
                                                                <input type="text" name=""  id="upiid" placeholder="Enter UPI ID*" value="xxx" />
                                                            </label>
                                                            </div>
                               </div>





                                <button id="checkoutBtn" class="btn btn-primary" type="submit" asp-controller="FoodSite" asp-action="PlaceOrder" style="background-color:orange;color:white;font-weight:bold;border-color:orange;margin-left:20px">Place Order</button>
                                 

                        </div>

                    </div>
                </div>
                @*
                <a class="btn btn-primary" type="submit" asp-controller="FoodSite" asp-action="PlaceOrder">Proceed to Checkout</a>
                *@
                }
      @*      </form>*@
       

            
 </div>
 </div>
     <div id="">
         <form asp-action="PlaceOrder" asp-controller="FoodSite" method="post">
             <div class="d-none">
           
                                <input value="" required type="text" @*asp-for="UserName"*@ placeholder="Enter name*" id="Names" name="Name"/>
                         
                                <input class="phones" value="" required type="text"  @*asp-for="PhoneNo"*@ placeholder="Enter Phone No*" id="PhoneNos" name="PhoneNo" />
                               
                                <input class="adds" value="" required type="text" @*asp-for="Address"*@ placeholder="Enter Address*" id="adds" name="add"/>
                                
                                <input class="d-none" value="cardpayment"  type="text" id="mails" name="mail"/>

                                <input class="citys" value="" required type="text"  @*asp-for="City"*@ placeholder="City*" id="citys" name="city"/>
                                <input class="statess" value="" required type="text" name="state" placeholder="Enter Zipcode*" id="statess"/>

                          <input class="zips" value="" required type="text" @*asp-for="Address"*@ name="zip" placeholder="Enter Zipcode*" id="zips"/>
                          <input value="4242 4242 4242 4242" type="text" name="card" id="cards" placeholder="Enter Credit Card*"/>
                          <input value="July" type="text" name="expmonth" id="expmonths" placeholder="Enter Credit Card*"/>
                          <input value="2028" type="text" name="expyear" id="expyears" placeholder="Enter Credit Card*"/>
                          <input value="343" type="text" name="cvv" id="cvvs" placeholder="Enter Credit Card*"/>
</div>
        @*<article>
            <label>Amount INR ₹ :499</label>
            
        </article>*@
        <div class="d-none">
        <script src="//checkout.stripe.com/v3/checkout.js"
                
                class="stripe-button"
                data-key="pk_test_51McNZISCWI76a6DvQG1bxKXNLhWNfCCa7yEpSnUGABApIKri7meFFSwrkOx4WAcQq5wC2EqiJi7VLdUbVTXR1wIC00zzyfkIym"
                data-amount="@total"
                data-name="Stripe Payment Gateway"
                data-locale="en"
                data-currency="inr"
    
              
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-zip-code="true">
        </script>
          
        </div>
        
        
    </form>
    
     </div>
     
 <script type="text/javascript" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"></script>

 <script type="text/javascript">
 
           /* $(document).ready(function() {
                $('input[type="checkbox"]').click(function() {
                    var inputValue = $(this).attr("value");
                    $("." + inputValue).toggle();

                });
            });*/

            $(document).ready(function() {
                $('input[type="radio"]').click(function() {
                    var inputValue = $(this).attr("value");
                    var targetBox = $("." + inputValue);
                    $(".sselect").not(targetBox).hide();
                    $(targetBox).show();
                });
            });

            $("#Upi").click(function(fe){
                $("#checkoutBtn").removeClass("d-none");
             

            });

            $("#check").click(function(fe){
                $("#checkoutBtn").removeClass("d-none");
              
            });

            $("#button1").click(function(){
   $(".stripe-button-el").click();
});
            $(".paywithcard").click(function(fe){
                $("#checkoutBtn").addClass("d-none");
                var city_name = $('input[class=city]').val();
                var add_name=$('input[class=add]').val();
                var state_name=$( "#state option:selected" ).val();
                var zip_name=$('input[class=zip]').val();
                var phone_name=$('input[class=phone]').val();
                console.log("initiated");
                console.log(city_name);
                console.log(state_name)
                $(".citys").val(city_name);
                $(".adds").val(add_name);
                $(".statess").val(state_name);
                $(".zips").val(zip_name);
                $(".phones").val(phone_name);
                
                
                console.log($('input[class=citys]').val());
                console.log($('input[class=statess]').val());
                console.log($('input[class=zips]').val());
                console.log($('input[class=adds]').val());
                console.log($('input[class=phones]').val());

            });
  
        $(".btn-use-address").click(function(fe){
 
            var id = $(this).attr("data");
            //console.log(id)
 
            var address = $(this).text();
 
            console.log(address)
 
            /*var houseNo = address.split(',')[0].trim();
            var street = address.split(',')[1].trim();
            var city = address.split(',')[2].trim();
            var pin = (address.split(',')[3]).trim();
 
            var state = address.split(',')[4].trim();*/

            var add1 = address.split(',')[0].trim();
            var add2 = address.split(',')[1].trim();
            var add = add1 + ", " + add2; 
             var city = address.split(',')[2].trim();
             var state = address.split(',')[3].trim();
             var zipcode = address.split(',')[4].trim();

            console.log("----" + state);
            $("#city").val(city);
            $("#zip").val(zipcode);

            $("#state").val(state);
            $("#add").attr("value", add);

 
        });

 
        
        $(".btn-use-card").click(function(fe){
 
            var id = $(this).attr("data");
            //console.log(id)
 
            var card = $(this).text();
 


            var card1 = card.split(',')[0].trim();
             var expMonth = card.split(',')[1].trim();
             var expYear = card.split(',')[2].trim();
            console.log(card);

            $("#card").val(card1);
            $("#expmonth").val(expMonth);
            $("#expyear").val(expYear);
            console.log(card1);
            console.log(expMonth);
            //$("#add").attr("value", add);

 
        });




          
</script>

@* <script>
           </script>*@
      
